<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-6 text-center text-lg-start">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Linking Residents, Properties, and Managers through a
        Digital Portal</h1>
      <p class="lead">"Welcome to LivingLink: Connecting residents, properties, and managers through a digital portal.
        Elevate your living experience with seamless communication and management in one centralized hub!"</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-6">
      <form class="rounded-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="firstname">
          <label for="firstname">First Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="lastname">
          <label for="lastname">Last Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email">
          <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password">
          <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password_cf">
          <label for="password_cf">Confirm Password</label>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end justify-content-md-between">
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="accept_tou"> I'm agree to the <a class="link-secondary">terms of use</a>.
            </label>
          </div>
          <button type="button" class="btn btn-primary btn-lg rounded-pill px-4 me-md-2">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
