<div class="container">
    <div class="d-flex justify-content-between align-bottom border-bottom mb-3">
      <h1>Utilities Record</h1>
      <div class="d-flex flex-row align-items-end gap-2 mb-3">
        <input type="text" class="form-control" placeholder="search">
        <button class="btn btn-outline-secondary d-flex flex-row" routerLink="/utilities">Back</button>
      </div>
    </div>

    <div class="align-bottom border-bottom mb-3">
      
      <div class="d-flex justify-content-between align-bottom mb-3">
        <h5>Search Building and Room number:</h5>
        <div class="d-flex flex-row align-items-end gap-2 mb-3">
          
          <input type="text" class="form-control" placeholder="search">
          <input type="text" class="form-control" placeholder="Current Date:">
          
        </div>
      </div>
      
      <div> <!-- เหลือตกแต่ง-->
        <h5>Building A: Room A1</h5>

        <div class="d-flex justify-content-evenly">
          
          <div> <!-- Water-->
            <h6>Water meter recode previous:</h6>
            <div>
              <p class="col-md-5">Meter: <input type="number" class="form-control" placeholder="100"> When:  <input type="date" value="2000-01-02"></p>
            </div>
            <h6>Water meter recode current:</h6>
            <div>
              <p class="col-md-5">Meter: <input type="number" class="form-control" placeholder="units"> When:  <input type="date"></p>
            </div>
          </div>
  
          <div> <!-- Electricity-->
            <h6>Electricity meter recode previous:</h6>
            <div>
              <p class="col-md-5">Meter: <input type="number" class="form-control" placeholder="100"> When:  <input type="date" value="2000-01-02"></p>
            </div>
            <h6>Electricity meter recode current:</h6>
            <div>
              <p class="col-md-5">Meter: <input type="number" class="form-control" placeholder="units"></p>

            </div>
          </div>

        </div>

        <div>
          <input type="submit" value="save">
          <input type="button" value="cancel" routerLink="/utilities">
        </div>

      </div>
    </div>


    
    <div>
        <form action="">
            <h2>Setting</h2>
            <label for="water_price_units">Water price per units:</label><br>
            <input type="number" id="water_price_units" name="water_price_units" value="3"><br>
            
            <label for="electricity_price_units">Electricity price per units:</label><br>
            <input type="number" id="electricity_price_units" name="electricity_price_units" value="3"><br><br>

            <input type="submit" value="save">

        </form>
    </div>


</div>
  



