<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-6 text-center text-lg-start">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Linking Residents, Properties, and Managers through a Digital Portal</h1>
      <p class="lead">"Welcome to LivingLink: Connecting residents, properties, and managers through a digital portal. Elevate your living experience with seamless communication and management in one centralized hub!"</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-6">
      <form class="rounded-3">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="row">
          <a href="#" class="col-10 col-lg-6 text-secondary"><p>Forgot your password?</p></a>
          <div class="col-lg-6 d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="submit" class="btn btn-primary btn-lg rounded-pill px-4 me-md-2">Login</button>
            <button routerLink="/register" type="button" class="btn btn-outline-secondary rounded-pill btn-lg px-4">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
