<div class="container">
  <div class="d-flex justify-content-between align-bottom border-bottom mb-3">
    <h1>Transaction</h1>
    <div class="d-flex flex-row align-items-end gap-2 mb-3">
      <button class="btn btn-outline-secondary d-flex flex-row">
        <i class="bi bi-filter me-2"></i> Filter
      </button>
      <input type="text" class="form-control" placeholder="search">
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Room/Building</th>
      <th scope="col">Water</th>
      <th scope="col">Electricity</th>
      <th scope="col">Rental</th>
      <th scope="col">Total</th>
      <th scope="col">Create by</th>
      <th scope="col">Create on</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of getLastTransactions(10).reverse()">
      <th scope="row">{{ row.id }}</th>
      <td>{{ row.room + '/' + row.building }}</td>
      <td>{{ row.utilities_price.water }}</td>
      <td>{{ row.utilities_price.electricity }}</td>
      <td>{{ row.rental_price }}</td>
      <td>{{ row.utilities_price.water + row.utilities_price.electricity + row.rental_price }}</td>
      <td>{{ row.create_by }}</td>
      <td>{{ row.create_on.toISOString() }}</td>
      <td><button class="btn btn-outline-primary" routerLink="/transactions-bill">Print</button></td>
    </tr>
    </tbody>
  </table>
</div>
