<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img ngSrc="/assets/images/sample-resident.png" class="d-block mx-lg-auto img-fluid rounded-5" alt="sample resident" width="564" height="550" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Linking Residents, Properties, and Managers through a Digital Portal</h1>
      <p class="lead">"Welcome to LivingLink: Connecting residents, properties, and managers through a digital portal. Elevate your living experience with seamless communication and management in one centralized hub!"</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button routerLink="/login" type="button" class="btn btn-primary btn-lg rounded-pill px-4 me-md-2">Login</button>
        <button routerLink="/register" type="button" class="btn btn-outline-secondary rounded-pill btn-lg px-4">Register</button>
      </div>
    </div>
  </div>
</div>
