<div class="container">
    <div class="d-flex justify-content-between align-bottom border-bottom mb-3">
        <h1>Add Room</h1>
        <div class="d-flex flex-row align-items-end gap-2 mb-3">
            <button class="btn btn-outline-secondary d-flex flex-row" routerLink="/rooms">Back</button>
        </div>
    </div>
    <div>
        <form action="#">
            <div class="mb-3">
                <label class="form-label" for="BuildingName">Building Name</label>
                <select class="form-select" id="BuildingName" name="BuildingName">
                    <option selected>Building A</option>
                    <option>Building B</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="RoomNumber">Room number</label>
                <input class="form-control" type="text" id="RoomNumber" name="RoomNumber">
            </div>
            <div class="mb-3">
                <label class="form-label" for="Type">Type</label>
                <select class="form-select" id="Type" name="Type">
                    <option value="Single" selected>Single</option>
                    <option value="Double">Double</option>
                    <option>...add</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="RentalPrice">Rental Price</label>
                <input class="form-control" type="text" id="RentalPrice" name="RentalPrice">
            </div>

            <!-- <label for="status">Status:</label><br>
            <input type="text" id="status" name="status"><br><br> -->

            <div>
                <input class="btn btn-outline-primary me-2" type="submit" value="save" routerLink="/rooms">
                <input class="btn btn-outline-danger" type="button" value="cancel" routerLink="/rooms">
            </div>
        </form>
    </div>
</div>
