<div class="container">
    <div class="d-flex justify-content-between align-bottom border-bottom mb-3">
      <h1>Transaction Bill</h1>
      
      <div class="d-flex flex-row align-items-end gap-2 mb-3">
        <button class="btn btn-outline-secondary d-flex flex-row" routerLink="/transactions">Back</button>
      </div>

    </div>


    <div class="p-3 text-success-emphasis bg-success-subtle border border-success-subtle rounded-3">
      
        Building: {{building}} <br>
        Room: {{room}} <br>
        Tenant {{tenant}} <br>
        Current date: {{current_date}} <br>
    </div>

    <div class="p-3 text-light-emphasis bg-light-subtle border border-light-subtle rounded-3">

          Rental price: {{rental_price}} BAHT <br>
          last recode: {{last_recode}} <br>
          Water units used: {{water_units_before}} -> {{water_units_current}} <br>
          Water price: {{water_price}} <br>
        
          Electricity units used: {{electricity_units_before}} -> {{electricity_units_after}} <br>
          Electricity price: {{electricity_price}} <br>
          last payment: {{last_payment}} {{time}} <br>
          total price {{total_price}} BAHT<br>
    </div>

    <button>Print</button>


    

  
</div>