<div class="container">
    <div class="d-flex justify-content-between align-bottom border-bottom mb-3">
        <h1>Dashboard</h1>

        <div class="mb-2">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary">year</button>
                <button type="button" class="btn btn-outline-secondary">month</button>
                <button type="button" class="btn btn-outline-secondary">week</button>
            </div>
        </div>
        

    </div>   

    <!-- Chart!!-->
    <div style="width: 1000px;"> 
        <canvas id="myChart">{{ chart }}</canvas>
    </div>

    
</div>


 


