/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/functions";

// default value overrides


@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// default map overrides 
$theme-colors: (
  "light":      #fefbef,
  "dark":       #010101,
  "primary":    #79c237,
  "secondary":  #3c674a,
  "info":       #168bdc,
  "success":    #20b409,
  "warning":    #fec609,
  "danger":     #f80350,
  "blue":       #0d6efd,
  "indigo":     #6610f2,
  "purple":     #6f42c1,
  "pink":       #d63384,
  "red":        #dc3545,
  "orange":     #fd7e14,
  "yellow":     #ffc107,
  "green":      #198754,
  "teal":       #20c997,
  "cyan":       #0dcaf0,
  "black":      #000,
  "white":      #fff,
  "gray":       #adb5bd,
  
);


$nav-pills-link-active-bg: map-get($theme-colors, "primary");
$nav-link-color: map-get($theme-colors, "primary");
$nav-link-hover-color: map-get($theme-colors, "secondary");

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
