<div class="container">
    <div class="d-flex justify-content-between align-bottom border-bottom mb-3">
      <h1>Admin management</h1>
      <div class="d-flex flex-row align-items-end gap-2 mb-3">
        <button class="btn btn-outline-secondary d-flex flex-row">
          <i class="bi bi-filter me-2"></i> Filter
        </button>
        <input type="text" class="form-control" placeholder="search">
      
        <button class="btn btn-outline-secondary d-flex flex-row" routerLink="/admins-add">Add</button>
      </div>
      
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Admin name</th>
        <th scope="col">Role</th>
        <th scope="col">Phone number</th>
        <th scope="col">Email</th>

        <th scope="col">Create by</th>
        <th scope="col">Create when</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>

        <tr *ngFor="let row of getAdmins(5)">
          <th scope="row">{{ row.id }}</th>
          <td>{{ row.admin_name }}</td>
          <td>{{ row.role}}</td>
          <td>{{ row.phone }}</td>
          <td>{{ row.email }}</td>

          <td>{{ row.create_by }}</td>
          <td>{{ row.create_on.toISOString() }}</td>
          <td><button class="btn btn-outline-warning" routerLink="/admins-edit">Edit</button></td>
          <td><button class="btn btn-outline-danger">Remove</button></td>
        </tr>

      </tbody>
    </table>
  </div>

