<div class="container">
    <div class="d-flex justify-content-between align-bottom border-bottom mb-3">
      <h1>Room Management</h1>
      <div class="d-flex flex-row align-items-end gap-2 mb-3">
        <button class="btn btn-outline-secondary d-flex flex-row">
          <i class="bi bi-filter me-2"></i> Filter
        </button>
        <input type="text" class="form-control" placeholder="search">
      
        <button class="btn btn-outline-secondary d-flex flex-row" routerLink="/rooms-add">Add</button>
      </div>
      
    </div>
    <table class="table">
      
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Building name</th>
        <th scope="col">Room number</th>
        <th scope="col">Type</th>
        <th scope="col">Rental Price</th>
        <th scope="col">Status</th>
        <th scope="col">Create by</th>
        <th scope="col">Create when</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of getRooms(10)">
          <th scope="row">{{ row.id }}</th>
          <td>{{ row.building }}</td>
          <td>{{ row.room_number}}</td>
          <td>{{ row.type }}</td>
          <td>{{ row.rental_price }}</td>
          <td>{{ row.status}}</td>
          <td>{{ row.create_by }}</td>
          <td>{{ row.create_on.toISOString() }}</td>
          <td><button class="btn btn-warning" routerLink="/rooms-edit" ><i class="bi bi-pencil-square"></i></button></td>
          <td><button class="btn btn-outline-danger"><i class="bi bi-trash"></i></button></td>
        </tr>


      </tbody>


    </table>
  </div>
